In [1]:
import numpy as np
import pandas as pd

### Load the data

In [2]:
aids = pd.read_csv('Data/CSV/AIDS/AIDS_Classification_50000.csv') # Location of the csv file. After downlodaing the file change the location
aids

,time,trt,age,wtkg,hemo,homo,drugs,karnof,oprior,z30,...,str2,strat,symptom,treat,offtrt,cd40,cd420,cd80,cd820,infected
0,1073,1,37,79.46339,0,1,0,100,0,1,...,1,2,0,1,0,322,469,882,754,1
1,324,0,33,73.02314,0,1,0,90,0,1,...,1,3,1,1,1,168,575,1035,1525,1
2,495,1,43,69.47793,0,1,0,100,0,1,...,1,1,0,0,0,377,333,1147,1088,1
3,1201,3,42,89.15934,0,1,0,100,1,1,...,1,3,0,0,0,238,324,775,1019,1
4,934,0,37,137.46581,0,1,0,100,0,0,...,0,3,0,0,1,500,443,1601,849,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,953,3,46,61.28204,0,0,0,90,0,1,...,1,3,0,1,1,234,402,481,1014,0
49996,1036,0,42,73.36768,0,1,0,100,0,1,...,1,3,0,0,1,369,575,514,657,0
49997,1157,0,40,78.75824,0,1,0,100,0,1,...,1,1,0,1,0,308,663,1581,863,0
49998,596,0,31,52.20371,0,0,0,100,0,1,...,1,1,0,1,1,349,440,470,865,1
49999,612,2,41,77.12100,0,1,0,90,0,1,...,1,3,0,1,0,428,396,1002,696,0

In [3]:
# feature matrix
X = aids.drop('infected', axis=1)
# create Y label
Y =aids['infected']

In [4]:
# Create a model
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
# split the dataset 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [6]:
x_train

,time,trt,age,wtkg,hemo,homo,drugs,karnof,oprior,z30,...,gender,str2,strat,symptom,treat,offtrt,cd40,cd420,cd80,cd820
28798,491,0,26,64.21911,0,0,0,100,0,1,...,0,0,3,0,1,0,446,612,509,610
31365,327,1,26,63.20326,0,0,0,90,0,0,...,1,0,1,1,0,1,448,703,1115,962
43883,432,0,31,77.37470,0,1,0,100,0,0,...,1,0,1,0,0,1,288,552,1321,528
35939,287,2,34,57.39838,0,1,0,90,0,0,...,1,0,2,0,1,1,252,329,1924,948
4377,535,2,27,118.84324,0,1,0,90,0,0,...,1,0,1,0,0,1,478,390,2206,679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44974,534,2,43,71.89469,0,0,1,90,0,0,...,0,1,1,0,1,1,519,300,786,1081
259,507,2,23,68.93855,0,1,0,90,0,0,...,1,1,1,0,1,0,311,630,834,596
42263,1143,0,34,69.31606,1,1,1,90,0,1,...,0,1,3,1,1,0,260,506,532,1273
46806,1054,0,42,66.50762,0,0,0,100,0,1,...,1,1,3,1,1,0,388,245,1175,968
26884,1197,2,23,64.45552,0,0,0,100,0,1,...,1,1,3,0,1,1,338,379,665,538

In [7]:
clf.fit(x_train, y_train);

In [8]:
# Predict 
y_preds = clf.predict(x_test)
y_preds

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [9]:
y_test

32350    1
25044    0
36892    0
16742    0
1416     0
        ..
42280    0
22232    0
21917    1
23347    1
42222    0
Name: infected, Length: 10000, dtype: int64

In [10]:
clf.score(x_train, y_train)

0.999975

In [11]:
clf.score(x_test, y_test)

0.7115

In [12]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.73      0.92      0.82      6955
           1       0.56      0.24      0.33      3045

    accuracy                           0.71     10000
   macro avg       0.65      0.58      0.57     10000
weighted avg       0.68      0.71      0.67     10000

In [13]:
confusion_matrix(y_test,y_preds)

array([[6396,  559],
       [2326,  719]], dtype=int64)

In [14]:
accuracy_score(y_test, y_preds)

0.7115

In [15]:
# improvment of the model

for i in range(10, 101, 10):
    print(f"trying model with {i} estimator ...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test)*100:.2f}%")
    print("")

trying model with 10 estimator ...
Model accuracy on test set: 69.30%

trying model with 20 estimator ...
Model accuracy on test set: 69.16%

trying model with 30 estimator ...
Model accuracy on test set: 70.25%

trying model with 40 estimator ...
Model accuracy on test set: 70.76%

trying model with 50 estimator ...
Model accuracy on test set: 70.94%

trying model with 60 estimator ...
Model accuracy on test set: 71.00%

trying model with 70 estimator ...
Model accuracy on test set: 70.86%

trying model with 80 estimator ...
Model accuracy on test set: 71.07%

trying model with 90 estimator ...
Model accuracy on test set: 71.26%

trying model with 100 estimator ...
Model accuracy on test set: 71.10%